
@{
    ViewBag.Title = "DichVu";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<h1>DỊCH VỤ</h1>
<div>
    DỊCH VỤ NÀY LÀ CỦA CHÚNG MÌNH
    <br />
    Chúng mình có thể làm gì để hoàn thiện Baron Coffee®?
    <br />
    Baron Coffee® là không gian của chúng mình nên mọi thứ ở đây đều vì sự thoải mái của chúng mình.
    <br />
    Đừng giữ trong lòng, hãy chia sẻ với chúng mình điều bạn mong muốn để cùng nhau giúp Baron Coffee® của chúng mình trở nên tuyệt vời hơn.
    <br />
    Đừng ngại chia sẻ ý kiến của bạn tại:
    <br />
    Facebook: https://www.facebook.com/baroncoffeevietnam/
    <br />
    Hoặc bạn có thể gửi email cho chúng mình đến địa chỉ: customerservice@baroncoffee.com.vn, chúng mình sẽ phản hồi trong thời gian sớm nhất có thể.
</div>

