
@{
    ViewBag.Title = "RecruitDetail";
    Layout = "~/Views/Shared/_LayoutTuyendung.cshtml";
}
<style>
   .Content p {
        font-weight: bold;
        color: #4B7864;
    }
    ul li {
        color:#4f4f4f;
        font-size: 20px;
        font-style: italic;
        font-family: Arial;
    }
</style>
<div class="Content">
    <p>Mô tả công việc</p>
    <ul>
        <li>Bán sản phẩm trà/cafe, dọn dẹp vệ sinh cửa hàng, hỗ trợ khách hàng.</li>
        <li>Kiểm đếm hàng hoá, sản phẩm.</li>
        <li>Đảm bảo sự hài lòng của khách hàng về chất lượng dịch vụ tại cửa hàng.</li>
        <li>Làm việc linh động/xoay ca</li>
    </ul>

    <p>Yêu cầu</p>
    <ul>
        <li>Nam /Nữ 18 -> 22 tuổi.</li>
        <li>Ưu tiên có kinh nghiệm trong ngành dịch vụ,..., chịu được áp lực công việc.</li>
        <li>Nhanh nhẹn, vui vẻ, siêng năng, hoạt bát, thích giao tiếp và làm việc trong môi trường dịch vụ.</li>
        <li>Ngoại hình cân đối, dễ nhìn.</li>
    </ul>

    <p>Quyền lợi</p>
    <ul>
        <li>Mức lương hấp dẫn</li>
        <li>Có cơ hội thăng tiến, đào tạo nghiệp vụ Pha chế, Thu ngân nếu gắn bó, định hướng lâu dài.</li>
        <li>Ưu đãi 50% nước uống tại tất cả chi nhánh</li>

    </ul>

    <p style="color:red">Lưu ý</p>
    <ul>
        <li>P.Tuyển dụng sẽ liên hệ mời phỏng vấn hồ sơ phù hợp yêu cầu tuyển dụng qua email/ điện thoại.</li>
        <li>Chúng tôi không thu bất kỳ phí nào của ứng viên.</li>

    </ul>
</div>




