
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cà Phê Đen</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script language="JavaScript" type="text/javascript">
    function selectOption(clickedButton) {

        var group = clickedButton.getAttribute('data-group');
        var buttons = document.querySelectorAll(`button[data-group="${group}"]`);
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].classList.remove('selected');
        }
        clickedButton.classList.add('selected');
    }
    </script>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-image: url('../../content/images/bgcf1.png');
            background-size: cover; /* Ảnh nền phủ đầy toàn bộ */
            font-family: Arial, sans-serif;
            text-decoration: none;
        }

        .container {
            width: 100%;
            display: flex;
            padding: 20px;
            font-size: 20px;
        }
        
        .image {
            background-image: url('../../content/images/cfbg1.png');
            background-position: center center;
            background-size: cover;
            width: 300px;
            height: 300px;
            display: block;
            border: hidden;
            margin-left: 20%;
        }

        .ProdInfo {
            
            padding-left: 20%;
        }

        label{
            color: #FDFCE8;
            text-align: center;
            font-size: 30px;
        }

        .ProdType {
            padding-top: 20px;
            color: #FDFCE8;
        }

        .ProdPrice {
            color: #B39977;
            padding-top: 10px;
        }

        #button {
            text-align: center;
            padding-top: 10px;
        }

        .ProdDescription {
            clear: both;
            padding-top: 10px;
            padding-left: 10px;
            color: #cbb37a;
        }
        /*size*/
        button {
            padding: 10px 20px;
            font-size: 16px;
            color: black;
            background-color: #d5bc8b;
            border: 1px solid #cccc;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 5px;
            margin-bottom: 10px;
        }

            button.selected {
                background-color: #9e774d;
            }

        .group {
            margin-bottom: 20px;
        }


    </style>
</head>
<body> 
    <div class="container">
        <div class="image">
                <img src="~/Content/images/sp1.png" width="300" height="300" style="margin-top:20px" />
        </div>

        <div class="ProdInfo">
            <label><strong>Cà Phê Đen</strong></label>
            <p class="ProdPrice">20.000 VND</p>
            <div class="ProdDescription">
                <label><strong>Mô tả sản phẩm</strong></label>
                <p>
                    <small>
                        Không ngọt ngào như Bạc sỉu hay Cà phê sữa, Cà phê đen mang trong mình phong vị trầm lắng, thi vị hơn.
                        Người ta thường phải ngồi rất lâu mới cảm nhận được hết hương thơm ngào ngạt, phảng phất mùi cacao và cái đắng mượt mà trôi tuột xuống vòm họng.
                    </small>
                </p>
            </div>
            <p class="ProdType">Chọn size (bắt buộc)</p>
            <div class="group">
                <button class="optionButton" data-group="1" onclick="selectOption(this)">Nhỏ + 0 đ</button>
                <button class="optionButton" data-group="1" onclick="selectOption(this)">Vừa + 10.000 đ</button>
                <button class="optionButton" data-group="1" onclick="selectOption(this)">Lớn + 16.000 đ</button>
            </div>

            <div id="button">
                <a href="~/Home/Index" class="btn btn-warning">Đặt mua hàng</a>
            </div>
        </div>
    </div>
    
</body>
</html>
