
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chanh Tắc Mật Ong</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script language="JavaScript" type="text/javascript">
    function selectOption(clickedButton) {

        var group = clickedButton.getAttribute('data-group');
        var buttons = document.querySelectorAll(`button[data-group="${group}"]`);
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].classList.remove('selected');
        }
        clickedButton.classList.add('selected');
    }
    </script>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            font-size: 20px;
            background-color: #f0f0f0;
            text-decoration: none;
        }

        .container {
            width: 100%;
            display: flex;
            padding: 10px;
            font-size: 30px;
        }

        .image {
            display: block;
            background-color: antiquewhite;
            border: hidden;
            width: 550px;
            height: 600px;
            margin-left: 50px;
            text-align: center;
        }

        form {
            display: flex;
        }

        input {
            margin-right: 15px;
        }

        .ProdInfo {
            padding-left: 50px;
        }

        .ProdType {
            padding-top: 20px;
        }

        .ProdPrice {
            color: green;
            padding-top: 10px;
        }

        a {
            width: 200px;
            text-align: center;
        }

        #button {
            padding-top: 145px;
        }

        .ProdDescription {
            clear: both;
            padding-top: 10px;
            padding-left: 10px;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            color: black;
            background-color: none;
            border: 1px solid #cccc;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 5px;
            margin-bottom: 10px;
        }

            button.selected {
                background-color: forestgreen;
            }

        .group {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="image">
            <img src="~/Content/images/sp4.png" width="500" height="500" style="margin-top:30px"/>
        </div>
        <div class="ProdInfo">
            <label>Chanh Tắc Mật Ong</label>
            <p class="ProdPrice">30.000 VND</p>
            <p class="ProdType">Chọn size (bắt buộc)</p>
            <div class="group">
                <button class="optionButton" data-group="1" onclick="selectOption(this)">Nhỏ + 0 đ</button>
                <button class="optionButton" data-group="1" onclick="selectOption(this)">Vừa + 10.000 đ</button>
                <button class="optionButton" data-group="1" onclick="selectOption(this)">Lớn + 16.000 đ</button>
            </div>
            <p class="ProdType">Topping</p>
            <div class="group">
                <button class="optionButton" data-group="2" onclick="selectOption(this)">Hạt Chia + 10.000 đ</button>
                <button class="optionButton" data-group="2" onclick="selectOption(this)">Hạt É + 10.000 đ</button>
                <button class="optionButton" data-group="2" onclick="selectOption(this)">Nha Đam + 10.000 đ</button>
            </div>
            <div id="button">
                <a href="~/Home/Index" class="btn btn-success">Đặt mua hàng</a>
            </div>
        </div>
    </div>
    <div class="ProdDescription">
        <label>Mô tả sản phẩm</label>
        <p>
            Chanh tắc mật ong là một loại đồ uống giải khát phổ biến, kết hợp giữa vị chua của chanh, hương thơm thanh mát của tắc (quất) và vị ngọt dịu của mật ong.
            Đồ uống này không chỉ ngon miệng mà còn mang lại nhiều lợi ích cho sức khỏe nhờ vào sự kết hợp của các nguyên liệu tự nhiên.
        </p>
    </div>
</body>

</html>
