
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Matcha</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script language="JavaScript" type="text/javascript">
    function selectOption(clickedButton) {

        var group = clickedButton.getAttribute('data-group');
        var buttons = document.querySelectorAll(`button[data-group="${group}"]`);
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].classList.remove('selected');
        }
        clickedButton.classList.add('selected');
    }
    </script>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-image: url('../../content/images/nensp/nenmatcha1.png');
            background-size: cover; /* Ảnh nền phủ đầy toàn bộ */
            font-family: Arial, sans-serif;
            text-decoration: none;
        }

        .container {
            width: 100%;
            display: flex;
            padding: 20px;
            font-size: 20px;
        }

        .image {
            background-image: url('../../content/images/matcha.png');
            background-position: center center;
            background-size: cover;
            width: 500px;
            height: 500px;
            display: block;
            border: hidden;
            margin-left: 20%;
        }


        .ProdInfo {
            padding-left: 10%;
            padding-right: 5%;
        }
        label {
            color: #44492b;
            text-align: center;
            font-size: 30px;
        }

        .ProdType {
            padding-top: 20px;
            color: #44492b;
        }

        .ProdPrice {
            color: green;
            padding-top: 10px;
        }


        #button {
            text-align: center;
            padding-top: 10px;
        }

        .ProdDescription {
            clear: both;
            padding-top: 10px;
            color: #372A25;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            color: black;
            background-color: #6db67c;
            border: 1px solid #cccc;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 5px;
            margin-bottom: 10px;
        }

            button.selected {
                background-color: forestgreen;
            }

        .group {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="image">
            <img src="~/Content/images/sp2.png" width="500" height="500" style="margin-top:30px"/>
        </div>
        <div class="ProdInfo">
            <label><strong>Matcha</strong></label>
            <p class="ProdPrice">25.000 VND</p>
            <div class="ProdDescription">
            <label>Mô tả sản phẩm</label>
            <p>
                <small>
                    Matcha được tạo nên từ các lá trà xanh trải qua nhiều công đoạn phức tạp để có được loại bột trà mịn và có màu xanh tươi.
                    Bột trà xanh matcha Lúave với 100% là bột Matcha từ Nhật Bản, đảm bảo được về chất lượng khi đến với tay khách hàng.
                </small>
            </p>
            </div>
            <p class="ProdType">Chọn size (bắt buộc)</p>
            <div class="group">
                <button class="optionButton" data-group="1" onclick="selectOption(this)">Nhỏ + 0 đ</button>
                <button class="optionButton" data-group="1" onclick="selectOption(this)">Vừa + 10.000 đ</button>
                <button class="optionButton" data-group="1" onclick="selectOption(this)">Lớn + 15.000 đ</button>
            </div>
            
            <div id="button">
                <a href="~/Home/Index" class="btn btn-success">Đặt mua hàng</a>
            </div>
        </div>
    </div>
    
</body>
</html>
