
@{
    ViewBag.Title = "NgheNghiep";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<h1>NGHỀ NGHIỆP</h1>
<div>
    CHÚNG TÔI LUÔN XÂY DỰNG ĐỘI NGŨ VỮNG MẠNH VÀ BỀN CHẶT. 
    <br />
    CÙNG VỚI NHIỀU VỊ TRÍ VÀ CHỨC VỤ TRONG CÔNG VIỆC
    <br />
    MỌI NGƯỜI ĐỀU BÌNH DẲNG VÀ TÔN TRỌNG LẪN NHAU
    <br />
    MÔI TRƯỜNG LÀM VIỆC THÂN THIỆN VÀ HÒA ĐỒNG.
</div>

