* {
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #f2f3f5;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.login {
    padding: 90px 75px;
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    border-radius: 30px;
}

.login-heading {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.login-label {
    font-size: 16px;
    color: #63676b;
    font-weight: lighter;
    margin-bottom: 5px;
    margin-top: 20px;
    display: block;
}

.login-input {
    display: block;
    width: 100%;
    padding: 25px;
    border-radius: 14px;
    font-size: 18px;
    margin-bottom: 30px;
}

.login-submit {
    padding: 25px;
    color: white;
    font-size: 18px;
    text-align: center;
    border: 0;
    width: 100%;
    border-radius: 14px;
    background-color: rgb(130, 201, 30);
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
}

.login-forgot {
    text-align: center;
    font-size: 20px;
    color: #999;
}
.login-login-link {
    color: #2979ff;
    text-decoration: none;
}
