
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const contentDivs = document.querySelectorAll('.content');
        contentDivs.forEach(div => {
            div.classList.add('loaded');
        });
    });
</script>
<style>
    .banner {
        max-width: 100%;
        height: 400px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .content {
        opacity: 0;
        transform: translateY(100px);
        transition: opacity 2s ease, transform 2s ease;
    }

    .content.loaded {
        opacity: 1;
        transform: translateY(0);
    }
    .detail {
        padding-top: 10px;
    }
    .banner-detail {
        font-size: 50px;
        cursor: pointer;
        color: snow;
        transition: color 0.5s ease;
    }
    .banner-detail:hover {
        color: red;
    }
    .more_detail {
        display: block;
        border: 1px solid;
        border-radius: 4px;
        text-align: center;
        padding: 5px;
        width: 55%;
    }
</style>

<div>
    <a href="~/Home/NguonGoc">
        <div class="banner" style="background-color: #a79384">
            <div>
                <img src="~/Content/images/NguonGoc.jpg" width="630" height="380" class="content"/>
            </div>
            <div class="detail" style="text-align:center">
                <label class="banner-detail" style=" padding-right: 70px;"><span class="content">NGUỒN GỐC</span></label>
                <br />
                <span class="more_detail content" style="margin-left: 70px; color: snow; border-color: snow">Tìm hiểu thêm</span>
            </div>
        </div>
    </a>
    <a href="~/Home/DichVu">
        <div class="banner" style="background-color: #d3c4bd">
            <div class="detail" style="text-align:center">
                <label class="banner-detail" style=" margin-left:70px;"><span class="content">DỊCH VỤ</span></label>
                <br />
                <span class="more_detail content" style="margin-left: 115px; color: snow; border-color: snow">Tìm hiểu thêm</span>
            </div>
            <div>
                <img src="~/Content/images/DichVu.jpg" width="630" height="380" class="content"/>
            </div>
        </div>
    </a>
    <a href="~/Home/NguonGoc">
        <div class="banner" style="background-color: #b3bbbe">
            <div>
                <img src="~/Content/images/NgheNghiep1.jpg" width="630" height="380" class="content"/>
            </div>
            <div class="detail" style="text-align:center">
                <label class="banner-detail" style=" padding-right: 65px;"><span class="content">NGHỀ NGHIỆP</span></label>
                <br />
                <span class="more_detail content" style="margin-left: 80px; color: snow; border-color: snow">Tìm hiểu thêm</span>
            </div>
        </div>
    </a>
</div>