@{
    ViewBag.Title = "Address";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baron Drinks</title>
    <link rel="stylesheet" href="~/Content/Layout.css" />
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            height: 100px;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #3c763d;
            color: white;
        }

        td {
            background-color: #f9f9f9;
        }

        label {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
            color: deeppink;
        }

        div {
            text-align: center;
        }
    </style>
</head>
<body>

    <div>
        <label>Hệ Thống Cửa Hàng Baron Drinks</label>
    </div>
    <table>
        <thead>
            <tr>
                <th>QUẬN/HUYỆN</th>
                <th>TÊN CỬA HÀNG</th>
                <th>ĐỊA CHỈ</th>
                <th>SỐ ĐIỆN THOẠI</th>
                <th>THỜI GIAN HOẠT ĐỘNG</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bình Thạnh </td>
                <td>Baron</td>
                <td>264F Bạch Đằng, P.24, Bình Thạnh, TpHCM</td>
                <td>0248877986</td>
                <td>8:00 AM - 22:00 PM</td>
            </tr>
            <tr>
                <td>Gò Vấp</td>
                <td>Baron</td>
                <td>28 Quang Trung, P.12, Gò Vấp, TpHCM</td>
                <td>0246696436</td>
                <td>8:00 AM - 22:00 PM</td>
            </tr>
            <tr>
                <td>Tân Bình</td>
                <td>Baron</td>
                <td>209 Cộng Hòa, P.13, Tân bình, TpHCM</td>
                <td>0246455578</td>
                <td>8:00 AM - 22:00 PM</td>
            </tr>
            <tr>
                <td>Quận 10</td>
                <td>Baron</td>
                <td>01 Tô Hiến Thành, P.5, Quận 10, TpHCM</td>
                <td>0247488552</td>
                <td>8:00 AM - 22:00 PM</td>
            </tr>
            <tr>
                <td>Phú Nhuận</td>
                <td>Baron</td>
                <td>25 Hoàng Văn Thụ, p14, Phú Nhuận, TpHCM</td>
                <td>0249978631</td>
                <td>8:00 AM - 22:00 PM</td>
            </tr>
            <tr>
                <td>Thủ Đức</td>
                <td>Baron</td>
                <td>75/2 Nguyễn Xiển, P.Long Thạnh Mỹ, Thủ Đức</td>
                <td>0241190635</td>
                <td>8:00 AM - 22:00 PM</td>
            </tr>
        </tbody>
    </table>

</body>
</html>
