@{
    ViewBag.Title = "Address";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baron Drinks</title>
    <style>
        table {
            width: 100%;            
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            height: 100px;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #3c763d;
            color: white;
        }

        td {
            background-color: #f9f9f9;
        }

        caption {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

    <header class="header">
        <a href="~/Home/Index"><img src="~/Content/images/logo1.png" class="logo" /></a>
        <div class="head-middle">
            <input type="text" class="search" placeholder="Mời nhập nước uống bạn muốn" />
            <button type="button" class="search-button">
                <img src="~/Content/images/search-icon.JPG" class="search-image" />
            </button>
        </div>
        <ul class="menu">
            <li><a href="~/Home/GioHang" id="selection" class="cart"><img src="~/Content/images/Shopping-cart-icon.png" class="selection-image" />Giỏ hàng<i class="fas fa-circle"><span class="cart-count">0</span></i></a></li>
            <li><a href="~/Home/Favourite" id="selection"><img src="~/Content/images/Heart-icon.png" class="selection-image" />Yêu thích</a></li>
            <li><a href="~/Home/LogIn" id="selection"><img src="~/Content/images/Character-icon.png" class="selection-image" />Đăng Nhập/Đăng Ký</a></li>
        </ul>
        <div class="list-background">
            <ul class="list">
                <li><a href="~/Home/Index" class="menu1">Trang chủ</a></li>
                <li class="dropdown-btn">
                    <a href="~/Home/ProDuctDetail" class="menu2">Thực đơn</a>
                    <ul class="dropdown-content">
                        <li class="dropdown-content-list">
                            <a href="~/Home/ProDuctDetail" class="content1">Cà phê</a>
                            <ul class="prod-name">
                                <li class="prod-name-list"><a href="~/ProDuctDetail/CaPheDen">Cà phê đen</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/BacSiu">Bạc Sỉu</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/CapheCaramel">Cà phê Caramel</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-content-list">
                            <a href="~/Home/ProDuctDetail" class="content2">Trà</a>
                            <ul class="prod-name">
                                <li class="prod-name-list"><a href="~/ProDuctDetail/TraDau">Trà Dâu</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/TraThachDau">Trà Thạch Dâu</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/TraNho">Trà Nho</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/TraVai">Trà Vải</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/TraDen">Trà Đen</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-content-list">
                            <a href="~/Home/ProDuctDetail" class="content1">Đá Xay</a>
                            <ul class="prod-name">
                                <li class="prod-name-list"><a href="~/ProDuctDetail/OreoDaXay">Oreo Đá Xay</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/MiloDaXay">Milo Đá Xay</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/SocolaDaXay">Socola Đá Xay</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/CaramelDaXay">Caramel Đá Xay</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/DauDaXay">Dâu Đá Xay</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/MatchaSocolaDaXay">Matcha Socola Đá Xay</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-content-list">
                            <a href="~/Home/ProDuctDetail" class="content3">Khác</a>
                            <ul class="prod-name">
                                <li class="prod-name-list"><a href="~/ProDuctDetail/Matcha">Matcha</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/ChanhTacMatOng">Chanh Tắc Mật Ong</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/SodaChanh">Soda Chanh</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/SuaTuoiTranChauDuongNau">Sữa Tươi Trân Châu Đường Nâu</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/TraSuaTruyenThong">Trà Sữa Truyền Thống</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/TraSuaTranChauTrang">Trà Sữa Trân Châu Trắng</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="~/Home/Recruit" class="menu3">Tuyển dụng</a></li>
                <li><a href="~/Home/About us" class="menu3">Về chúng tôi</a></li>
                <li><a href="~/Home/Address" class="menu3">Địa chỉ</a></li>
            </ul>
        </div>
    </header>
    <table>
        <caption>Hệ Thống Cửa Hàng Baron Drinks</caption>
        <thead>
            <tr>
                <th>QUẬN/HUYỆN</th>
                <th>TÊN CỬA HÀNG</th>
                <th>ĐỊA CHỈ</th>
                <th>SỐ ĐIỆN THOẠI</th>
                <th>THỜI GIAN HOẠT ĐỘNG</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bình Thạnh </td>
                <td>Baron</td>
                <td>264F Bạch Đằng, P.24, Bình Thạnh, TpHCM</td>
                <td>0248877986</td>
                <td>8:00 AM - 22:00 PM</td>
            </tr>
            <tr>
                <td>Gò Vấp</td>
                <td>Baron</td>
                <td>28 Quang Trung, P.12, Gò Vấp, TpHCM</td>
                <td>0246696436</td>
                <td>8:00 AM - 22:00 PM</td>
            </tr>
            <tr>
                <td>Tân Bình</td>
                <td>Baron</td>
                <td>209 Cộng Hòa, P.13, Tân bình, TpHCM</td>
                <td>0246455578</td>
                <td>8:00 AM - 22:00 PM</td>
            </tr>
            <tr>
                <td>Quận 10</td>
                <td>Baron</td>
                <td>01 Tô Hiến Thành, P.5, Quận 10, TpHCM</td>
                <td>0247488552</td>
                <td>8:00 AM - 22:00 PM</td>
            </tr>
            <tr>
                <td>Phú Nhuận</td>
                <td>Baron</td>
                <td>25 Hoàng Văn Thụ, p14, Phú Nhuận, TpHCM</td>
                <td>0249978631</td>
                <td>8:00 AM - 22:00 PM</td>
            </tr>
            <tr>
                <td>Thủ Đức</td>
                <td>Baron</td>
                <td>75/2 Nguyễn Xiển, P.Long Thạnh Mỹ, Thủ Đức</td>
                <td>0241190635</td>
                <td>8:00 AM - 22:00 PM</td>
            </tr>
        </tbody>
    </table>
    <footer id="footer">
        <div>
            <img src="~/Content/images/fb-icon.png" class="fb-icon-image" />
            <img src="~/Content/images/ins-icon.png" class="ins-icon-image" />
            <img src="~/Content/images/tw-icon.png" class="tw-icon-image" />
        </div>
        <div>
            <p>&copy;  2018 Baron Coffee.  Powered by Group Baron</p>
        </div>
        <div>
            <img src="~/Content/images/phone-icon.png" class="phone-icon-image" />
        </div>
        <div>
            <p>0245269466</p>
        </div>
        <div>
            <img src="~/Content/images/email-icon.png" class="email-icon-image" />
        </div>
        <div>
            <p>customerservice@Baroncoffee.com.vn</p>
        </div>
    </footer>

</body>
</html>
