
@{
    ViewBag.Title = "DaXay";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<style>
    h2 {
        color: red;
        font-size: 40px;
        margin-top: 40px;
    }

    .prod {
        display: block;
        border: 1px solid lightgray;
        border-radius: 4px;
        margin: 20px;
    }
</style>

<div>
    <h2>TRÀ</h2>
    <p>
        Đá xay là một loại thức uống mát lạnh, được pha chế bằng cách xay nhuyễn đá cùng các nguyên liệu khác như sữa, kem, cà phê, trái cây, hoặc siro để tạo ra một kết cấu đặc, mịn và có hương vị thơm ngon.
        Đá xay còn được biết đến với tên gọi "frappe" hoặc "smoothie," tùy thuộc vào thành phần và hương vị.
    </p>
    <br />
    <section id="featureProd">
        <div class="prod-container">
            <div class="prod">
                <a href="~/ProDuctDetail/OreoDaXay">
                    <img src="~/Content/images/sp10.png" class="prod-item-special6" />
                    <h3>Oreo Đá Xay</h3>
                    <p class="prod-price">30.000 VND</p>
                </a>
            </div>
            <div class="prod">
                <a href="~/ProDuctDetail/MiloDaXay">
                    <img src="~/Content/images/sp11.png" class="prod-item" />
                    <h3>Milo Đá Xay</h3>
                    <p class="prod-price">25.000 VND</p>
                </a>
            </div>
            <div class="prod">
                <a href="~/ProDuctDetail/SocolaDaXay">
                    <img src="~/Content/images/sp12.png" class="prod-item-special2" />
                    <h3>Socola Đá Xay</h3>
                    <p class="prod-price">35.000 VND</p>
                </a>
            </div>
            <div class="prod">
                <a href="~/ProDuctDetail/CaramelDaXay">
                    <img src="~/Content/images/sp13.png" class="prod-item" />
                    <h3>Caramel Đá Xay</h3>
                    <p class="prod-price">35.000 VND</p>
                </a>
            </div>
            <div class="prod">
                <a href="~/ProDuctDetail/DauDaXay">
                    <img src="~/Content/images/sp14.png" class="prod-item-special3" />
                    <h3>Dâu Đá Xay</h3>
                    <p class="prod-price">30.000 VND</p>
                </a>
            </div>
            <div class="prod">
                <a href="~/ProDuctDetail/MatchaSocolaDaXay">
                    <img src="~/Content/images/sp15.png" class="prod-item-special2" />
                    <h3>Matcha Socola Đá Xay</h3>
                    <p class="prod-price">25.000 VND</p>
                </a>
            </div>
        </div>
    </section>
</div>