
@{
    ViewBag.Title = "DichVu";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<style type="text/css">
    section {
        font-size: 24px;
        background-color: white;
    }

    h1 {
        text-align: center;
    }
</style>

<section>
    <h1>DỊCH VỤ</h1>
    <div>
        <p>DỊCH VỤ NÀY LÀ CỦA CHÚNG MÌNH</p>
        <p>Chúng mình có thể làm gì để hoàn thiện Baron Coffee®?</p>
        <p>Baron Coffee® là không gian của chúng mình nên mọi thứ ở đây đều vì sự thoải mái của chúng mình.</p>
        <p>Đừng giữ trong lòng, hãy chia sẻ với chúng mình điều bạn mong muốn để cùng nhau giúp Baron Coffee® của chúng mình trở nên tuyệt vời hơn.</p>
        <p>
            Đừng ngại chia sẻ ý kiến của bạn tại:
            Facebook: https://www.facebook.com/baroncoffeevietnam/
        </p>
        <p>Hoặc bạn có thể gửi email cho chúng mình đến địa chỉ: customerservice@baroncoffee.com.vn, chúng mình sẽ phản hồi trong thời gian sớm nhất có thể.</p>
    </div>
</section>
