@model TaYenPhuong_BE.Models.ViewModel.HomeProduct__2VM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<style>
    .News {
        background-color: #D9D9D9;
        width: fit-content;
        height: fit-content;
        border-radius: 12px;
        margin-top: 10px;
        margin-bottom: 15px;
        text-align: center;
        padding: 20px 50px;
        display: flex;
        vertical-align: central;
        justify-content: space-around;
    }

    .News-text {
        text-align: left;
        padding-right: 20px;
        margin-top: 2%;
    }

    .News p {
        margin: 0;
        font-size: 45px;
    }

    .News-img {
        display: flex;
        gap: 20px;
    }

    .News-img-item {
        width: fit-content;
        height: fit-content;
    }

    .News-img img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .News-img1 {
        border-left: 1px solid black;
        padding-left: 20px;
    }

    .TinTuc {
        margin-left: 15%;
        align-items: center;
    }
</style>


<div>

    <section>

        <img src="~/Content/images/banner8.png" class="image2" />
    </section>
    @*tin tuc khuyen mai*@
    <section class="TinTuc">
        <div class="News">
            <div class="News-text">
                <p>TIN TỨC <span style="color: #4B7864">&</span> </p>
                <p>KHUYẾN MÃI</p>
            </div>

            <div class="News-img">

                <span class="News-img-item">
                    <img src="~/Content/images/s1.jpg" class="News-img1" />
                </span>
                <span class="News-img-item">
                    <img src="~/Content/images/s2.jpg" class="News-img2" />
                </span>
                <span class="News-img-item">
                    <img src="~/Content/images/images.jpeg" class="News-img2" />
                </span>

            </div>

        </div>

    </section>

    @Html.Partial("PVListProduct", Model) @* sản phẩm tìm kiếm *@

    @Html.Partial("PVFeaturedProducts", Model)

  
</div>
@**@
