
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<style type="text/css">
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
    }

    .header {
        margin-top: 3px;
        width: 100%;
        background-color: #b22830;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .logo {
        width: 250px;
        height: 80px;
    }

    .head-middle {
        position: relative;
    }

    .search {
        margin-left: 35px;
        border: 1px solid #ccc;
        border-radius: 8px;
        width: 450px;
        padding: 10px;
        outline: none;
    }

    .search-button {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        border: none;
        cursor: pointer;
        width: 70px;
        height: 29px;
        border-radius: 8px;
        margin: 4px 4px 0 0;
    }

    .search-image {
        width: 70px;
        height: 29px;
        border-radius: 8px;
    }

    .cart {
        position: relative;
    }

    .cart-count {
        position: absolute;
        right: -17px;
        top: -3px;
        background-color: red;
        color: white;
        border-radius: 45%;
    }

    ul {
        display: flex;
    }

    .menu {
        margin-left: 35px;
    }

    li {
        list-style-type: none;
    }

    .menu a {
        color: white;
        font-size: 18px;
        text-decoration: none;
    }

    #selection {
        margin-right: 35px;
        color: white;
    }

    .selection-image {
        width: 20px;
        height: 20px;
        margin-right: 4px;
    }

    .image1 {
        float: left;
        display: block;
        width: 49%;
        height: 380px;
        border-radius: 4px;
        margin-left: 8px;
    }

    .image2 {
        float: right;
        display: block;
        width: 49%;
        height: 380px;
        border-radius: 4px;
        margin-right: 8px;
    }

    .ad {
        clear: both;
        display: flex;
        align-items: center;
    }

    .image3 {
        display: block;
        width: 25%;
        height: 200px;
        border-radius: 4px;
        gap: 20px;
    }

    .list-background {
        display: flex;
        width: 100%;
    }

    .list {
        display: flex;
        align-items: center;
    }

    .menu1 {
        color: white;
        margin-left: 320px;
        transition: all 0.2s ease;
    }

        .menu1:hover {
            display: block;
            background-color: #53382C;
        }
    .menu2 {
        margin-left:150px;
        color: white;
        transition: all 0.2s ease;
    }

        .menu2:hover {
            display: block;
            background-color: #53382C;
            block-size:40px;
        }

    .menu3 {
        margin-left: 150px;
        color: white;
        transition: all 0.2s ease;
    }

        .menu3:hover {
            display: block;
            background-color: #53382C;
        }
    .list li {
        cursor: pointer;
        position: relative;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        list-style-type: none;
        z-index: 1;
        left: -393px;
        top: 100%;
    }
        .dropdown-content-list {
            width: 312px;
            height:200px;
            margin-top:15px;
            
        }
    .dropdown-content a {
        text-decoration: none;
        transition: all 0.2s ease;
        color:#ffcc00;
    }
    .content1 {
        margin-left: 130px;
    }

    .content2 {
        margin-left: 145px;
    }

    .content3 {
        margin-left: 140px;
    }
         .dropdown-content li a:hover {
            letter-spacing:2px;   
            background-color: inherit; 
        }
    .dropdown-btn:hover .dropdown-content {
        display: flex;
        background-color: #53382C;
    }
    .dropdown-content{
        background-color:transparent;
        transition: all 0.6s ease;
    }
    .prod-name{
        display:flow;
    }
    .prod-name-list{
        text-align:center;
        text-decoration:none;
    }
    .prod-name a {
        color: white;
        position: relative;
        text-decoration: none;
        transition: all 0.2s ease;
        padding-left: 10px;
    }

        .prod-name li a:hover {
            letter-spacing:1px;
            color: lightpink;
        }

        .prod-name li a::after {
            position: absolute;
            content: '\203A';
            left: -80px;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        .prod-name  li a:hover::after {
            opacity: 1;
        }

    #featureProd {
        text-align: center;
        background-color: #f0f0f0;
        clear: both;
    }

    .prod-list {
        width: 100%;
        background-color: yellowgreen;
        height: 30px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 20px;
        vertical-align: middle;
    }

    .prod-container {
        display: flex;
        align-items: center;
    }

    .prod {
        width: 200px;
    }

    .prod-item {
        width: 100%;
        height: 150px;
        transition: transform 0.2s ease;
    }

        .prod-item:hover {
            letter-spacing: 1px;
            transform: translateY(-5px);
        }

    .prod-item-special1 {
        width: 100px;
        height: 150px;
        transition: transform 0.2s ease;
    }

        .prod-item-special1:hover {
            letter-spacing: 1px;
            transform: translateY(-5px);
        }

    .prod-item-special2 {
        width: 150px;
        height: 150px;
        transition: transform 0.2s ease;
    }

        .prod-item-special2:hover {
            letter-spacing: 1px;
            transform: translateY(-5px);
        }

    h3 {
        font-size: 16px;
        color: yellowgreen;
    }

    .prod-description {
        font-size: 14px;
        color: black;
        font: Arial;
    }

    .prod-price {
        font-size: 12px;
        color: green;
    }

    #footer {
        margin-top: 15px;
        background-color: orangered;
        color: white;
        font-size: 18px;
        clear: both;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
<header class="header">
    <a href="~/Home/Index"><img src="~/Content/images/logo1.png" class="logo" /></a>
    <div class="head-middle">
        <input type="text" class="search" placeholder="Mời nhập nước uống bạn muốn" />
        <button type="button" class="search-button">
            <img src="~/Content/images/search-icon.JPG" class="search-image" />
        </button>
    </div>
    <ul class="menu">
        <li><a href="~/Home/GioHang" id="selection" class="cart"><img src="~/Content/images/Shopping-cart-icon.png" class="selection-image" />Giỏ hàng<i class="fas fa-circle"><span class="cart-count">0</span></i></a></li>
        <li><a href="~/Home/Favourite" id="selection"><img src="~/Content/images/Heart-icon.png" class="selection-image" />Yêu thích</a></li>
        <li><a href="~/Home/LogIn" id="selection"><img src="~/Content/images/Character-icon.png" class="selection-image" />Đăng Nhập/Đăng Ký</a></li>
    </ul>
    <div class="list-background">
        <ul class="list">
            <li><a href="~/Home/Index" class="menu1">Trang chủ</a></li>
            <li class="dropdown-btn">
                <a href="~/Home/ProDuctDetail" class="menu2">Thực đơn</a>
                <ul class="dropdown-content">
                    <li class="dropdown-content-list">
                        <a href="~/Home/ProDuctDetail" class="content1">Cà phê</a>
                        <ul class="prod-name">
                            <li class="prod-name-list"><a href="">Cà phê đen</a></li>
                            <li class="prod-name-list"><a href="">Bạc Xỉu</a></li>
                            <li class="prod-name-list"><a href="">Cà phê Caramel</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-content-list">
                        <a href="~/Home/ProDuctDetail" class="content2">Trà</a>
                        <ul class="prod-name">
                            <li class="prod-name-list"><a href="">Trà Dâu</a></li>
                            <li class="prod-name-list"><a href="">Trà Thạch Dâu</a></li>
                            <li class="prod-name-list"><a href="">Trà Nho</a></li>
                            <li class="prod-name-list"><a href="">Trà Vải</a></li>
                            <li class="prod-name-list"><a href="">Trà Đen</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-content-list">
                        <a href="~/Home/ProDuctDetail" class="content1">Đá Xay</a>
                        <ul class="prod-name">
                            <li class="prod-name-list"><a href="">Orio Đá Xay</a></li>
                            <li class="prod-name-list"><a href="">Milo Đá Xay</a></li>
                            <li class="prod-name-list"><a href="">Socola Đá Xay</a></li>
                            <li class="prod-name-list"><a href="">Caramel Đá Xay</a></li>
                            <li class="prod-name-list"><a href="">Dâu Đá Xay</a></li>
                            <li class="prod-name-list"><a href="">Match Socola Đá Xay</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-content-list">
                        <a href="~/Home/ProDuctDetail" class="content3">Khác</a>
                        <ul class="prod-name">
                            <li class="prod-name-list"><a href="">Matcha</a></li>
                            <li class="prod-name-list"><a href="">Chanh Tắc Mật Ong</a></li>
                            <li class="prod-name-list"><a href="">Soda Chanh</a></li>
                            <li class="prod-name-list"><a href="">Sữa Tươi Trân Châu Đường Nâu</a></li>
                            <li class="prod-name-list"><a href="">Trà Sữa Truyền Thống</a></li>
                            <li class="prod-name-list"><a href="">Trà Sữa Trân Châu Trắng</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="~/Home/Recruit" class="menu3">Tuyển dụng</a></li>
            <li><a href="~/Home/Address" class="menu3">Địa chỉ</a></li>
        </ul>
    </div>
</header>
<section>
    <img src="~/Content/images/banner2.jpg" class="image1" />
    <img src="~/Content/images/banner.jpg" class="image2" />
    <div class="ad">
        <img src="~/Content/images/78a5853531ae97f0cebf10.jpg" class="image3" />
        <img src="~/Content/images/660e8447fedd588301cc6.jpg" class="image3" />
        <img src="~/Content/images/a886e1ca9b503d0e64415.jpg" class="image3" />
        <img src="~/Content/images/fa1311596bc3cd9d94d27.jpg" class="image3" />
    </div>
</section>
<section id="featureProd">
    <div class="prod-list">
        <h2>Các thức uống bestseller</h2>
    </div>
    <div class="prod-container">
        <div class="prod">
            <a href="~/Home/ProductCategory">
                <img src="~/Content/images/sp1.png" class="prod-item" />
                <h3>Cà phê đen</h3>
                <p class="prod-description"></p>
                <p class="prod-price">20.000 VND</p>
            </a>
        </div>

        <div class="prod">
            <a href="~/Home/ProductCategory">
                <img src="~/Content/images/sp3.png" class="prod-item" />
                <h3>Bạc Xỉu</h3>
                <p class="prod-description"></p>
                <p class="prod-price">20.000 VND</p>
            </a>
        </div>
        <div class="prod">
            <a href="~/Home/ProductCategory">
                <img src="~/Content/images/sp6.png" class="prod-item" />
                <h3>Soda Chanh</h3>
                <p class="prod-description"></p>
                <p class="prod-price">25.000 VND</p>
            </a>
        </div>
        <div class="prod">
            <a href="~/Home/ProductCategory">
                <img src="~/Content/images/sp7.png" class="prod-item-special1" />
                <h3>Cà Phê Caramel</h3>
                <p class="prod-description"></p>
                <p class="prod-price">20.000 VND</p>
            </a>
        </div>
        <div class="prod">
            <a href="~/Home/ProductCategory">
                <img src="~/Content/images/sp9.png" class="prod-item-special2" />
                <h3>Trà Nho</h3>
                <p class="prod-description"></p>
                <p class="prod-price">35.000 VND</p>
            </a>
        </div>
        <div class="prod">
            <a href="~/Home/ProductCategory">
                <img src="~/Content/images/sp12.png" class="prod-item" />
                <h3>Socola Đá Xay</h3>
                <p class="prod-description"></p>
                <p class="prod-price">35.000 VND</p>
            </a>
        </div>
        <div class="prod">
            <a href="~/Home/ProductCategory">
                <img src="~/Content/images/sp14.png" class="prod-item-special1" />
                <h3>Dâu Đá Xay</h3>
                <p class="prod-description"></p>
                <p class="prod-price">30.000 VND</p>
            </a>
        </div>
        <div class="prod">
            <a href="~/Home/ProductCategory">
                <img src="~/Content/images/sp15.png" class="prod-item" />
                <h3>Matcha Socola Đá Xay</h3>
                <p class="prod-description"></p>
                <p class="prod-price">25.000 VND</p>
            </a>
        </div>
        <div class="prod">
            <a href="~/Home/ProductCategory">
                <img src="~/Content/images/sp18.png" class="prod-item-special2" />
                <h3>Trà Vải</h3>
                <p class="prod-description"></p>
                <p class="prod-price">35.000 VND</p>
            </a>
        </div>
        <div class="prod">
            <a href="~/Home/ProductCategory">
                <img src="~/Content/images/sp20.png" class="prod-item" />
                <h3>Trà Đen</h3>
                <p class="prod-description"></p>
                <p class="prod-price">25.000 VND</p>
            </a>
        </div>
    </div>
</section>
<footer id="footer">
    Copy &copy; Ella Designs &amp; Fahasha Designs<br />
    Powered by Ella and Fahasha
    <p>About - Services - Portfolio - Contact Us - Term of Trade</p>
</footer>
