
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link href="~/Content/stylesheet1.css" rel="stylesheet" />
</head>
<body>
    <div class="login">
        <h1 class="login-heading">Login</h1>
            <label for="email" class="login-label">Email</label>
            <input type="email" id="email" class="login-input">
            <label for="password" class="login-label">Password</label>
            <input type="password" id="password" class="login-input">
            <button class="login-submit">Login</button>
        <p class="login-forgot">
            <a href="">Forgot password?</a>
            <a href="~/Home/Register" class="login-signup-link">Sign up</a>
        </p>
    </div>
</body>
</html>


