@{
    ViewBag.Title = "NgheNghiep";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<style type="text/css">
    section {
        font-size: 24px;
        background-color: white;
    }

    h1 {
        text-align: center;
    }
</style>
<section>
    <h1>NGHỀ NGHIỆP</h1>
    <div>
        <p>CHÚNG TÔI LUÔN XÂY DỰNG ĐỘI NGŨ VỮNG MẠNH VÀ BỀN CHẶT.</p>
        <br />
        <p>CÙNG VỚI NHIỀU VỊ TRÍ VÀ CHỨC VỤ TRONG CÔNG VIỆC</p>
        <br />
        <p>MỌI NGƯỜI ĐỀU BÌNH DẲNG VÀ TÔN TRỌNG LẪN NHAU</p>
        <br />
        <p>MÔI TRƯỜNG LÀM VIỆC THÂN THIỆN VÀ HÒA ĐỒNG.</p>
    </div>
</section>

