
@{
    ViewBag.Title = "ProDuctDetail";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<style type="text/css">
    h2 {
        text-align: center;
        vertical-align: middle;
    }

    a {
        text-decoration: none;
    }
</style>

<section id="featureProd">
    <div class="prod-list">
        <h2>Các loại thức uống</h2>
    </div>
    <div class="prod-container">
        <div class="prod">
            <a href="~/ProDuctDetail/CaPheDen">
                <img src="~/Content/images/sp1.png" class="prod-item-special4" />
                <h3>Cà phê đen</h3>
                <p class="prod-description"></p>
                <p class="prod-price">20.000 VND</p>
            </a>
        </div>
        <div class="prod">
            <a href="~/ProDuctDetail/Matcha">
                <img src="~/Content/images/sp2.png" class="prod-item-special4" />
                <h3>Matcha</h3>
                <p class="prod-description"></p>
                <p class="prod-price">25.000 VND</p>
            </a>
        </div>
        <div class="prod">
            <a href="~/ProDuctDetail/BacSiu">
                <img src="~/Content/images/sp3.png" class="prod-item-special4" />
                <h3>Bạc Sỉu</h3>
                <p class="prod-description"></p>
                <p class="prod-price">20.000 VND</p>
            </a>
        </div>
        <div class="prod">
            <a href="~/ProDuctDetail/ChanhTacMatOng">
                <img src="~/Content/images/sp4.png" class="prod-item" />
                <h3>Chanh Tắc Mật Ong</h3>
                <p class="prod-description"></p>
                <p class="prod-price">30.000 VND</p>
            </a>
        </div>
        <div class="prod">
            <a href="~/ProDuctDetail/TraDau">
                <img src="~/Content/images/sp5.png" class="prod-item" />
                <h3>Trà Dâu</h3>
                <p class="prod-description"></p>
                <p class="prod-price">35.000 VND</p>
            </a>
        </div>
    </div>
    <div class="prod-container">
        <div class="prod">
            <a href="~/ProDuctDetail/SodaChanh">
                <img src="~/Content/images/sp6.png" class="prod-item" />
                <h3>Soda Chanh</h3>
                <p class="prod-description"></p>
                <p class="prod-price">25.000 VND</p>
            </a>
        </div>
        <div class="prod">
            <a href="~/ProDuctDetail/CapheCaramel">
                <img src="~/Content/images/sp7.png" class="prod-item-special1" />
                <h3>Cà Phê Caramel</h3>
                <p class="prod-description"></p>
                <p class="prod-price">20.000 VND</p>
            </a>
        </div>
        <div class="prod">
            <a href="~/ProDuctDetail/TraThachDau">
                <img src="~/Content/images/sp8.png" class="prod-item" />
                <h3>Trà Thạch Dâu</h3>
                <p class="prod-description"></p>
                <p class="prod-price">25.000 VND</p>
            </a>
        </div>
        <div class="prod">
            <a href="~/ProDuctDetail/TraNho">
                <img src="~/Content/images/sp9.png" class="prod-item-special2" />
                <h3>Trà Nho</h3>
                <p class="prod-description"></p>
                <p class="prod-price">35.000 VND</p>
            </a>
        </div>
        <div class="prod">
            <a href="~/ProDuctDetail/OreoDaXay">
                <img src="~/Content/images/sp10.png" class="prod-item" />
                <h3>Oreo Đá Xay</h3>
                <p class="prod-description"></p>
                <p class="prod-price">30.000 VND</p>
            </a>
        </div>
    </div>
    <div class="prod-container">
        <div class="prod">
            <a href="~/ProDuctDetail/MiloDaXay">
                <img src="~/Content/images/sp11.png" class="prod-item-special1" />
                <h3>Milo Đá Xay</h3>
                <p class="prod-description"></p>
                <p class="prod-price">25.000 VND</p>
            </a>
        </div>
        <div class="prod">
            <a href="~/ProDuctDetail/SocolaDaXay">
                <img src="~/Content/images/sp12.png" class="prod-item" />
                <h3>Socola Đá Xay</h3>
                <p class="prod-description"></p>
                <p class="prod-price">35.000 VND</p>
            </a>
        </div>
        <div class="prod">
            <a href="~/ProDuctDetail/CaramelDaXay">
                <img src="~/Content/images/sp13.png" class="prod-item-special1" />
                <h3>Caramel Đá Xay</h3>
                <p class="prod-description"></p>
                <p class="prod-price">35.000 VND</p>
            </a>
        </div>
        <div class="prod">
            <a href="~/ProDuctDetail/DauDaXay">
                <img src="~/Content/images/sp14.png" class="prod-item-special3" />
                <h3>Dâu Đá Xay</h3>
                <p class="prod-description"></p>
                <p class="prod-price">30.000 VND</p>
            </a>
        </div>
        <div class="prod">
            <a href="~/ProDuctDetail/MatchaSocolaDaXay">
                <img src="~/Content/images/sp15.png" class="prod-item" />
                <h3>Matcha Socola Đá Xay</h3>
                <p class="prod-description"></p>
                <p class="prod-price">25.000 VND</p>
            </a>
        </div>
    </div>
    <div class="prod-container">
        <div class="prod">
            <a href="~/ProDuctDetail/SuaTuoiTranChauDuongNau">
                <img src="~/Content/images/sp16.png" class="prod-item" />
                <h3>Sữa Tươi Trân Châu Đường Nâu</h3>
                <p class="prod-description"></p>
                <p class="prod-price">20.000 VND</p>
            </a>
        </div>
        <div class="prod">
            <a href="~/ProDuctDetail/TraSuaTruyenThong">
                <img src="~/Content/images/sp17.png" class="prod-item" />
                <h3>Trà Sữa Truyền Thống</h3>
                <p class="prod-description"></p>
                <p class="prod-price">30.000 VND</p>
            </a>
        </div>
        <div class="prod">
            <a href="~/ProDuctDetail/TraVai">
                <img src="~/Content/images/sp18.png" class="prod-item-special2" />
                <h3>Trà Vải</h3>
                <p class="prod-description"></p>
                <p class="prod-price">35.000 VND</p>
            </a>
        </div>
        <div class="prod">
            <a href="~/ProDuctDetail/TraSuaTranChauTrang">
                <img src="~/Content/images/sp19.png" class="prod-item-special2" />
                <h3>Trà Sữa Trân Châu Trắng</h3>
                <p class="prod-description"></p>
                <p class="prod-price">30.000 VND</p>
            </a>
        </div>
        <div class="prod">
            <a href="~/ProDuctDetail/TraDen">
                <img src="~/Content/images/sp20.png" class="prod-item" />
                <h3>Trà Đen</h3>
                <p class="prod-description"></p>
                <p class="prod-price">25.000 VND</p>
            </a>
        </div>
    </div>
</section>
