
@{
    ViewBag.Title = "Tra";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<style>
    h2 {
        color: red;
        font-size: 40px;
        margin-top: 40px;
    }

    .prod {
        display: block;
        border: 1px solid lightgray;
        border-radius: 4px;
        margin: 20px;
    }
</style>

<div>
    <h2>TRÀ</h2>
    <p>
        Trà là một loại thức uống được làm từ lá cây Camellia sinensis, một loại cây bụi thường được trồng ở những vùng có khí hậu ẩm và mát như Trung Quốc, Nhật Bản, Ấn Độ, Việt Nam và Sri Lanka.
        Thức uống này phổ biến trên khắp thế giới với nhiều loại khác nhau, từ trà xanh, trà đen, trà ô long, đến trà trắng và trà Phổ Nhĩ, mỗi loại có quy trình chế biến và hương vị riêng biệt.
    </p>
    <br />
    <section id="featureProd">
        <div class="prod-container">
            <div class="prod">
                <a href="~/ProDuctDetail/TraDau">
                    <img src="~/Content/images/sp5.png" class="prod-item-special2" />
                    <h3>Trà Dâu</h3>
                    <p class="prod-price">35.000 VND</p>
                </a>
            </div>
            <div class="prod">
                <a href="~/ProDuctDetail/TraThachDau">
                    <img src="~/Content/images/sp8.png" class="prod-item-special4" />
                    <h3>Trà Thạch Dâu</h3>
                    <p class="prod-price">25.000 VND</p>
                </a>
            </div>
            <div class="prod">
                <a href="~/ProDuctDetail/TraNho">
                    <img src="~/Content/images/sp9.png" class="prod-item-special2" />
                    <h3>Trà Nho</h3>
                    <p class="prod-price">35.000 VND</p>
                </a>
            </div>
            <div class="prod">
                <a href="~/ProDuctDetail/TraVai">
                    <img src="~/Content/images/sp18.png" class="prod-item-special1" />
                    <h3>Trà Vải</h3>
                    <p class="prod-price">35.000 VND</p>
                </a>
            </div>
            <div class="prod">
                <a href="~/ProDuctDetail/TraDen">
                    <img src="~/Content/images/sp20.png" class="prod-item-special2" />
                    <h3>Trà Đen</h3>
                    <p class="prod-price">25.000 VND</p>
                </a>
            </div>
        </div>
    </section>
</div>

